<div class="nss-sidebar">

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link"
               href="/dashboard/">

                Dashboard

            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               href="/persons/">

                Persons

            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               href="#">

                Members

            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               href="#">

                Families

            </a>
        </li>

    </ul>

</div>