# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store